---
layout: conf
title: RubyConf Indonesia 2019
description: RubyConf Indonesia 2019
open_graph_image: /assets/conf/banner-rubyconf-indonesia-2019.jpg
---

<!-- #### HEADER START #### -->
<header class="site-nav fixed-nav">
  <div class="container">
    <div class="logo">
      <a href="#">
        <img src="{{ '/assets/conf/logo_rubyconfid_2019.png' }}">
      </a>
    </div>
    <div class="navigation navigation-collapse" id="navCollapse">
      <nav class="navbar">
        <ul>
          <li><a href="#keynote-speakers">KEYNOTE SPEAKERS</a></li>
          <li><a href="#ticket">TICKET</a></li>
          <li><a href="#venue">VENUE</a></li>
          <li><a href="#schedules">SCHEDULES</a></li>
          <li><a href="#committee">COMMITTEE</a></li>
          <li><a href="#conduct">CONDUCT</a></li>
          <li><a href="#sponsors">SPONSORS</a></li>
          <li><a href="#contact">CONTACT</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
<!-- #### HEADER END ####  -->

<div class="content">
  <!-- #### HOME BANNER START ####  -->
  <div id="rb-homebanner" class="rb-homebanner with-fixed-nav">
    <figure class="rb-imgbanner">
      <img src="{{ "/assets/conf/banner-rubyconf-indonesia-2017-2.jpg" }}" alt="image description">
      <figcaption>
        <div class="caption-banner">
          <h1>Modern Web <br/>With Ruby</h1>
          <br/>
          <p>September 29, 2019</p>
          <a href="/cfp" class="button button-round button-red button-big">Submit your CFP</a>
          <br>
          <span>CFP Submission ends at August 11, 2019 UTC+7</span>
        </div>
      </figcaption>
    </figure>
  </div>
  <!-- #### HOME BANNER END ####  -->

  <!-- #### START KEYNOTE SPEAKERS SECTION #### -->
  <section id="keynote-speakers" class="main-section bg-grey">
    <div class="container">
      <div class="row">
        <div class="col col-sm-20 col-xs-100">
          <p class="big-text-2">Keynote Speakers</p>
        </div>
        <div class="col col-sm-80 col-xs-100">
          {% for speaker in site.data.conf_2019.keynote_speakers %}
          <div class="row row-speaker keynote">
            {% if speaker.image_url %}
              <div class="col col-sm-20 col-xs-100">
                <img src="{{ speaker.image_url }}" alt="{{ speaker.name }}">
              </div>
            {% endif %}
            <div class="col col-sm-80 col-xs-100">
              <p class="normal-h medium-3">{{ speaker.name }}</p>
              <p class="normal-h red">{{ speaker.note }}</p>
              {% if speaker.title %}
                <p class="medium-4"><strong>Talk Title:</strong> {{ speaker.title }}</p>
              {% endif %}
              <p>{{ speaker.abstract }}</p>
              {% if speaker.short_bio %}
                <p><strong>Bio:</strong><br />{{ speaker.short_bio }}</p>
              {% endif %}
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
  <!-- #### END KEYNOTE SPEAKERS SECTION #### -->

  <!-- #### START TICKET SECTION #### -->
  <section id="ticket" class="main-section bg-maroon">
    <div class="container">
      <div class="row">
        <div class="col col-sm-50 col-xs-100">
          <div class="ticket-lt">
            <p class="big-text-2">Ticket</p>
            <a href="/ticket" target="_blank" class="button button-round button-red button-big">Get Tickets</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- #### END TICKET SECTION #### -->

  <!-- #### START VENUE SECTION #### -->
  <section id="venue" class="main-section">
    <div class="container">
      <div class="row">
        <div class="col col-sm-15 col-xs-100">
          <p class="big-text-2">Venue</p>
        </div>
        <div class="location-map col col-sm-80 col-xs-100">
          <iframe class="actAsDiv" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.275448871939!2d106.79497651476909!3d-6.227368595492124!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f1485e476a65%3A0x300c043104acc004!2sSenayan+City!5e0!3m2!1sen!2sid!4v1562213360235!5m2!1sen!2sid"></iframe>
        </div>
      </div>
      <div class="row">
        <div class="col col-sm-15 col-xs-100 hidden-xs">&nbsp;</div>
        <div class="col col-sm-80 col-xs-100">
          <div class="col col-sm-100 col-xs-100">
            <div class="box-sr venue-address">
              <span class="text-red">ADDRESS</span>
              <p class="medium-2"><strong>SCTV Hall</strong>, Senayan City</p>
              <p class="medium-2">Central Jakarta, Jakarta, Indonesia</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- #### END VENUE SECTION #### -->

  <!-- #### START SCHEDULES SECTION #### -->
  <section id="schedules" class="main-section bg-grey">
    <div class="container">
      <div class="row">
        <div class="col col-sm-20 col-xs-100">
          <p class="big-text-2">Schedules</p>
        </div>
        <div class="col col-sm-70 col-xs-100" style="margin-top: 30px;">
          <a href="schedules" class="button button-round button-red button-big">See schedules</a>
          <p>*Schedules may changed</p>
        </div>
      </div>
    </div>
  </section>
  <!-- #### END SCHEDULES SECTION #### -->

  <!-- #### START COMMITTEE SECTION #### -->
  <section id="committee" class="main-section bg-grey">
    <div class="container">
      <div class="row">
        <div class="col col-sm-20 col-xs-100">
          <p class="big-text-2">Committee</p>
        </div>
        <div class="col col-sm-70 col-xs-100" style="margin-top: 30px;">
          <p><a href="https://ruby.id">Indonesia Ruby Community (ID-Ruby)</a> was established in 2001, once started as a Yahoo mailing list group. Following Ruby’s increasing trend through the years, ID-Ruby has been growing and <a href="https://ruby.id/meetup">holding monthly meetups</a>. We are active in <a href="https://ruby.id/slack" target="_blank">Slack (500+ members)</a> and <a href="https://ruby.id/telegram" target="_blank">Telegram (800+ members).</a></p>
        </div>
      </div>
    </div>
  </section>
  <!-- #### END COMMITTEE SECTION #### -->

  <!-- #### START CONDUCT SECTION #### -->
  <section id="conduct" class="main-section">
    <div class="container">
      <div class="row">
        <div class="col col-sm-100 col-xs-100">
          <div class="box-sr box-conduct">
            <p class="big-text-2">Conduct</p>
            <div style="margin-bottom:40px;">
              <h4>Conference Code of Conduct</h4>
              <p>All attendees, speakers, sponsors and volunteers at our conference are required to agree with the following code of conduct. Organizers will enforce this code throughout the event. We are expecting cooperation from all participants to help ensuring a safe environment for everybody.</p>
            </div>
            <a href="#" class="button button-round button-red" id="showConduct">Read More</a>
            <div style="display:none;margin-top:40px;" id="moreConduct">
              <h4>Need Help?</h4>
              <p>Reach us through <a href="mailto:rubyconf@perkodi.org">our email here</a>.</p>
              <h4>The Quick Version</h4>
              <p>Our conference is dedicated to providing a harassment-free conference experience for everyone, regardless of gender, gender identity and expression, age, sexual orientation, disability, physical appearance, body size, race, ethnicity, religion (or lack thereof), or technology choices. We do not tolerate harassment of conference participants in any form. Sexual language and imagery is not appropriate for any conference venue, including talks, workshops, parties, Twitter and other online media. Conference participants violating these rules may be sanctioned or expelled from the conference without a refund at the discretion of the conference organisers.</p>
              <h4>The Less Quick Version</h4>
              <p>Harassment includes offensive verbal comments related to gender, gender identity and expression, age, sexual orientation, disability, physical appearance, body size, race, ethnicity, religion, technology choices, sexual images in public spaces, deliberate intimidation, stalking, following, harassing photography or recording, sustained disruption of talks or other events, inappropriate physical contact, and unwelcome sexual attention.</p>
              <p>Participants asked to stop any harassing behavior are expected to comply immediately.</p>
              <p>Sponsors are also subject to the anti-harassment policy. In particular, sponsors should not use sexualized images, activities, or other material. Booth staff (including volunteers) should not use sexualized clothing/uniforms/costumes, or otherwise create a sexualized environment.</p>
              <p>If a participant engages in harassing behavior, the conference organisers may take any action they deem appropriate, including warning the offender or expulsion from the conference with no refund.</p>
              <p>If you are being harassed, notice that someone else is being harassed, or have any other concerns, please contact a member of conference staff immediately. Conference staff can be identified as they'll be wearing branded t-shirts.</p>
              <p>Conference staff will be happy to help participants contact hotel/venue security or local law enforcement, provide escorts, or otherwise assist those experiencing harassment to feel safe for the duration of the conference. We value your attendance.</p>
              <p>We expect participants to follow these rules at conference and workshop venues and conference-related social events.</p>
            </div>
          </div>
        </div>
        <div class="col col-sm-15 col-xs-100">
        </div>
        <div class="col col-sm-80 col-xs-100">
        </div>
      </div>
    </div>
  </section>
  <!-- #### END CONDUCT SECTION #### -->

  <!-- #### START SPONSORS SECTION #### -->
  <section id="sponsors" class="main-section">
    <div class="container">
      <div class="row">
        <div class="col col-sm-100">
          <p class="big-text-2">Sponsors</p>
          <p class="medium-2">Interested in being RubyConf Indonesia sponsors? Checkout out <a href="https://ruby.id/sponsorship">our Sponsorship Prospectus</a> here!.</p>
          <br>
        </div>
      </div>
      {% if site.data.conf_2019.ruby_sponsors.size > 0 %}
      <div class="row row-bm-line">
        <div class="wrap-col-1">
          <div class="wrap-col-2">
            <div class="col col-sm-30 col-xs-100 col-lt">
              <p class="medium-2">Ruby Sponsors</p>
            </div>
            <div class="col col-sm-70 col-xs-100 col-rt">
              {% for sponsor in site.data.conf_2019.ruby_sponsors %}
                <a href="{{ sponsor.url }}" target="_blank" class="sponsor-rt" title="{{ sponsor.name }}">
                  <img src="{{ sponsor.image_url }}" alt="{{ sponsor.name }}">
                </a>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      {% endif %}

      {% if site.data.conf_2019.gold_sponsors.size > 0 %}
      <div class="row row-bm-line">
        <div class="wrap-col-1">
          <div class="wrap-col-2">
            <div class="col col-sm-30 col-xs-100 col-lt">
              <p class="medium-2">Gold Sponsors</p>
            </div>
            <div class="col col-sm-70 col-xs-100 col-rt">
              {% for sponsor in site.data.conf_2019.gold_sponsors %}
                <div class="sponsor-rt">
                  <img src="{{ sponsor.image_url }}" alt="{{ sponsor.name }}">
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      {% endif %}

      {% if site.data.conf_2019.media_partners.size > 0 %}
      <div class="row row-bm-line">
        <div class="wrap-col-1">
          <div class="wrap-col-2">
            <div class="col col-sm-30 col-xs-100 col-lt">
              <p class="medium-2">Media Partners</p>
            </div>
            <div class="col col-sm-70 col-xs-100 col-rt">
              {% for sponsor in site.data.conf_2019.media_partners %}
                <div class="sponsor-rt">
                  <img src="{{ sponsor.image_url }}" alt="{{ sponsor.name }}">
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      {% endif %}

      {% if site.data.conf_2019.community_partners.size > 0 %}
      <div class="row row-bm-line">
        <div class="wrap-col-1">
          <div class="wrap-col-2">
            <div class="col col-sm-30 col-xs-100 col-lt">
              <p class="medium-2">Community Partners</p>
            </div>
            <div class="col col-sm-70 col-xs-100 col-rt">
              {% for sponsor in site.data.conf_2019.community_partners %}
                <div class="sponsor-rt">
                  <img src="{{ sponsor.image_url }}" alt="{{ sponsor.name }}">
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      {% endif %}

    </div>
  </section>
  <!-- #### END SPONSORS SECTION #### -->

  <!-- #### START CONTACT SECTION #### -->
  <section id="contact" class="main-section bg-maroon">
    <div class="container">
      <div class="row">
        <div class="col col-sm-100 col-xs-100">
          <div class="box-sr box-contact">
            <div style="margin-bottom:40px;">
              <p class="medium-2">To get more information about the conference and to contact the organizer, <a href="mailto:rubyconf@perkodi.org">feel free to reach us</a>.</p>
            </div>
          </div>
        </div>
        <div class="col col-sm-15 col-xs-100">
        </div>
        <div class="col col-sm-80 col-xs-100">
        </div>
      </div>
      <div class="row">
        <div class="col col-sm-100 text-center">
          <img src="{{ '/assets/conf/id-ruby-perkodi.png' }}" alt="ID-Ruby Perkodi Logo"/>
        </div>
      </div>
    </div>
  </section>
  <!-- #### END CONTACT SECTION #### -->
</div>

{% js "conf/jquery-3.0.0.min.js" %}
{% js "conf/jquery.singlepagenav.min.js" %}
{% js "conf/jquery.scrollTo.min.js" %}

<script>
  $(function() {
    "use strict";
    $("nav.navbar").singlePageNav({
      speed: 1e3,
      currentClass: "active",
      offset: 80
    });
    $('#showConduct').click(function(event){
      event.preventDefault();
      $('#moreConduct').toggle();
    });
    $('[data-behavior=buttonToggle]').click(function(){
      event.preventDefault();
      var target = $(this).data('target');
      $(target).toggle();
    });
    $('a[data-toggle="scrollTo"]').click(function(event) {
      event.preventDefault();
      var target = $(this).data('target');
      $('html, body').scrollTo($(target), 1800);
     });
  });
</script>
