<section id='box'>
   <h2>Pengguna Ruby</h2>
   <p>Startup/Perusahaan pengguna Ruby dan Rails di Indonesia</p>

   <div>
      <image src="images/logo_cookpad.png">
      <h3>Cookpad</h3>
      <p>Lorem ipsum dolor sit amet adispicim elit uminum aeteat mediscoeur unam pacit.</p>
   </div>

   <div>
      <image src="images/logo_cpxi.png">
      <h3>CPXi</h3>
      <p>Lorem ipsum dolor sit amet adispicim elit uminum aeteat mediscoeur unam pacit.</p>
   </div>

   <div>
      <image src="images/logo_midtrans.png">
      <h3>Midtrans</h3>
      <p>E-commerce enablement yang bergerak salah satunya di bidang Payment Gateaway.</p>
   </div>

   <div>
      <image src="images/logo_virkea.png">
      <h3>Virkea</h3>
      <p>Lorem ipsum dolor sit amet adispicim elit uminum aeteat mediscoeur unam pacit.</p>
   </div>
</section>
