<section id='box'>
   <h2>Pengguna Ruby</h2>
   <p>Startup/Perusahaan pengguna Ruby dan Rails di Indonesia</p>

   <div>
      <a href='https://cookpad.com/id'>
         <image src="images/logo_cookpad.png">
      </a>
      <h3>Cookpad Indonesia</h3>
      <p>Perusahaan teknologi global dengan misi membuat masak sehari-hari jadi menyenangkan.</p>
   </div>

   <div>
      <a href='http://www.cpxi.com'>
         <image src="images/logo_cpxi.png">
      </a>
      <h3>CPXi</h3>
      <p>Lorem ipsum dolor sit amet adispicim elit uminum aeteat mediscoeur unam pacit.</p>
   </div>

   <div>
      <a href='http://midtrans.com'>
         <image src="images/logo_midtrans.png">
      </a>
      <h3>Midtrans</h3>
      <p>Melengkapi bisnis online di Indonesia dengan sistem pembayaran yang aman & nyaman</p>
   </div>

   <div>
      <a href='https://school.quipper.com/id/'>
         <image src="images/logo_quipper.png">
      </a>
      <h3>Quipper</h3>
      <p>Creating a learning revolution with technology</p>
   </div>

   <div>
      <a href='http://starqle.com'>
         <image src="images/logo_starqle.png">
      </a>
      <h3>Starqle</h3>
      <p>Software consulting company specialized in delivering large scale information systems and applications.</p>
   </div>

   <div>
      <a href='http://virkea.com'>
         <image src="images/logo_virkea.png">
      </a>
      <h3>Virkea</h3>
      <p>Enterprise-grade E-Procurement solution provider.</p>
   </div>
</section>
