.site-nav {
  background: $ruby_color;
  color: $lighter_red;

  #navigation {
    & > a {
      color: $lighter_red;
      
      &:hover {
        color: $darker_red;
      }
    }
  }
}

#content {
  padding-top: 60px;
}
