{% assign base = "/conf/2017" %}
<html>
  <head>
    <title>RubyConf Indonesia 2017 | Home</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href="{{ "/assets/conf.css" }}?{{site.time | date: '%s%N'}}" rel="stylesheet">
    <link rel="shortcut icon" href="assets/images/favicon.ico">
  </head>

  <body>
    {{ content }}
  </body>
</html>
